<template>
  <div>
    {{ injectedVar }}
  </div>
</template>

<script>
export default {
  name: 'child',
  inject: [ 'P_foo' ],
  computed: {
    injectedVar(){ return this.P_foo }
  }
}
</script>

<style>

</style>