<template>
  <div>
    {{ injectedVar || "INJECTED VARIABLE NOT FOUND" }}
  </div>
</template>

<script>
export default {
  name: 'child',
  inject: [ 'EP_foo' ],
  computed: {
    injectedVar(){ return this.EP_foo }
  }
}
</script>

<style>

</style>