<template>
  <div>
    <slot />
  </div>
</template>

<script>
export default {
  data: () => ({
    foo: 'bar'
  }),
  provide(){
    return {
      EP_FOO: this.foo
    }
  }
}
</script>

<style>

</style>