<template>
  <div id="app">
    <parent>
      <child/>
    </parent>

    <external-parent>
      <external-child />
    </external-parent>
  </div>
</template>

<script>
import Parent from "./components/Parent.vue"
import Child from "./components/Child.vue"

import ExternalParent from "./external-folder/src/components/Parent.vue"
import ExternalChild from "./external-folder/src/components/Child.vue"

export default {
  name: 'App',
  components: {
    Parent,
    Child,
    ExternalParent,
    ExternalChild
  }
}
</script>

<style>

</style>
